#form-clientes {
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 80px;
  margin-left: 30px;
  margin-right: 30px;

}

.col-md-4 {
  margin-bottom: 10px;

}

.botao{
  margin-right: 1%;
}


h1{
  text-align: center;
  margin: 2%;
}

.align{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.align-within{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
