<ng-container *ngIf="!fechamento">

  <button class="btn btn-primary" routerLink="relatorio"> Relatório </button>

  <h1>Cacular Gastos Mensais</h1>
  <form id="form-clientes" class="row g-3 needs-validation" [formGroup]="gastos" (ngSubmit)="calcular()">
    <div class="col-md-4">
        <label for="validationCustom01" class="form-label">Custo da Água</label>
        <input type="text" class="form-control" formControlName="agua" placeholder="Digite o valor da conta de água">
    </div>

    <div class="col-md-4">
        <label for="validationCustom02" class="form-label">Custo da Energia</label>
        <input type="text" class="form-control" formControlName="energia" placeholder="Digite o valor da conta de energia">
    </div>

    <div class="col-md-4">
        <label for="validationCustom02" class="form-label">Custo da Internet</label>
        <input type="text" class="form-control" formControlName="internet" placeholder="Digite o valor da conta da Internet">
    </div>

    <div class="col-md-4">
      <label for="validationCustom02" class="form-label">Mês de Referência</label>
      <input type="text" class="form-control" formControlName="data" placeholder="Digite mês e ano de referencia">
  </div>

    <div class="col" [align]="'center'">
        <a>
            <button id="botao-cadastrar-cliente" class="btn btn-success" type="submit"
            [disabled]="!gastos.valid"> Calcular </button>
        </a>
    </div>
  </form>
</ng-container>

<ng-container *ngIf="fechamento">

  <div class="centralizar">
<!-- <ul class="list-group">
    <li class="list-group-item">{{fechamento.agua}}</li>
    <li class="list-group-item">{{fechamento.energia}}</li>
    <li class="list-group-item">{{fechamento.internet}}</li>
    <li class="list-group-item">{{fechamento.custoProdutos}}</li>
    <li class="list-group-item">{{fechamento.funcionarios}}</li>
    <li class="list-group-item">{{fechamento.lucro}}</li>
  </ul> -->

    <table class="table table-striped table-dark">
      <thead>

      </thead>
      <tbody>
        <tr>
          <th scope="row">Custo da Água</th>
          <td>R$ {{fechamento.agua}}</td>
        </tr>

        <tr>
          <th scope="row">Custo da Energia</th>
          <td>R$ {{fechamento.energia}}</td>
        </tr>

        <tr>
          <th scope="row">Custo da Internet</th>
          <td>R$ {{fechamento.internet}}</td>
        </tr>

        <tr>
          <th scope="row">Custo dos Produtos</th>
          <td>R$ {{fechamento.custoProdutos}}</td>
        </tr>

        <tr>
          <th scope="row">Salário do Funcionários</th>
          <td>R$ {{fechamento.funcionarios}}</td>
        </tr>

        <tr>
          <th scope="row">Valor das Vendas</th>
          <td>R$ {{fechamento.vendas}}</td>
        </tr>

        <tr class="table-success" *ngIf="lucro()">
          <th scope="row">Lucro</th>
          <td>R$ {{fechamento.lucro}}</td>
        </tr>

        <tr class="table-danger" *ngIf="!lucro()">
          <th scope="row">Lucro</th>
          <td>R$ {{fechamento.lucro}}</td>
        </tr>

      </tbody>
    </table>
  </div>
  <div class="centralizar">
    <button class="btn btn-danger margin" (click)="back()"> Voltar </button>
    <button class="btn btn-primary" (click)="salvar()"> Finalizar </button>
  </div>
</ng-container>







