.dropdown {
  position: relative;
}

.dropdown::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid white;
  right: 16px;
  top: 40%;
}

.dropdown-toggle {
  min-width: 100%;
  max-width: 100%;
  text-align: left;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-menu {
  min-width: 100%;
  max-width: 100%;
  max-height: 100px;
  overflow-y: auto;
}

.dropdown-item {
  white-space: initial;
}

.product-list {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
}

.client-option {
  display: flex;
  align-items: center;
  min-height: 36px;
  padding-left: 8px;
}

.input-div {
  padding-left: 4px;
}

.margin{
  margin-left: 1%;
}

h2{
  text-align: center;
  text-decoration:underline;
}
h4{
  text-align: center;
}

#pagamento, #desconto{
  margin-left: 2%;
}
#pagamento label{
  margin-top: 5%;
}
#desconto label{
  margin-top: 2%;
}
#desconto button{
  margin-top: 2%;
}
#total{
  margin-left: 2%;
}
#finalizar-venda{
  margin-left: 2%;
}
#finalizar-venda button{
  margin-bottom: 2%;
}

#desconto input{
  margin-left: 1%;
}

.space{
  margin-bottom: 1%;
}

.d-flex{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2%;

}
