<div class="corpo">

  <h2>Clientes</h2>

  <div>
    <form class="d-flex" role="search">
      <input id="input-buscar-clientes" class="form-control me-2" type="search" placeholder="Digite o nome do cliente"
      aria-label="Search" (input)="search($event)">
    </form>
  </div>

  <div id="tabela-clientes">
    <table class="table table-dark table-striped">
        <thead class="table-secondary">
            <tr>
                <th class="id-cliente">#</th>
                <th scope="col">Nome</th>
                <th scope="col">CPF</th>
                <th scope="col">Contato</th>
                <th scope="col">Email</th>
                <th scope="col">Endereço</th>
                <th scope="col">
                  <a class="add-button" routerLink="/clientes/cadastro">
                    <mat-icon>add</mat-icon>
                  </a>
                </th>
            </tr>
        </thead>
        <tbody class="fields">
            <tr *ngFor="let cliente of clientes | paginate: { itemsPerPage: 5, currentPage: p }">
                <td class="id-cliente">{{cliente.id}}</td>
                <td>{{cliente.nome}}</td>
                <td>{{cliente.cpf}}</td>
                <td>{{cliente.contato}}</td>
                <td>{{cliente.email}}</td>
                <td>{{cliente.endereco}}</td>
                <td>
                    <div>
                        <a class="edit">
                          <mat-icon routerLink="/clientes/editar/{{cliente.id}}">edit</mat-icon>
                        </a>
                        <a class="delete">
                          <mat-icon (click)="openModalComponent(cliente.id)" color="">delete</mat-icon>
                        </a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
  </div>
</div>
<pagination-controls
  class="my-pagination"
  (pageChange)="p = $event"
  *ngIf="clientes.length > 0"
  previousLabel="Previous"
  nextLabel="Next"
  ></pagination-controls>



