<div class="corpo row">
  <div>
    <form class="d-flex" role="search">
        <input id="input-buscar-clientes" class="form-control me-2" type="search" placeholder="Digite o nome do cliente"
            aria-label="Search">
        <button id="botao-buscar-clientes" class="btn btn-outline-success" type="submit">Pesquisar</button>
    </form>
  </div>

  <div id="tabela-clientes" class="col-6">
    <h2>Produtos</h2>
    <table class="table">
        <thead>
            <tr>
                <th class="id-cliente">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Quantidade</th>
            </tr>
        </thead>
        <tbody class="fields">
            <tr *ngFor="let produto of estoque?.produtos">
                <td class="id-cliente">{{produto.id}}</td>
                <td>{{produto.nome}}</td>
                <td>{{produto.quantidade}}</td>
            </tr>
        </tbody>
    </table>
  </div>

  <div id="tabela-clientes" class="col-6">
    <h2>Clientes</h2>
    <table class="table">
        <thead>
            <tr>
                <th class="id-cliente">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Disponibilidade</th>
            </tr>
        </thead>
        <tbody class="fields">
            <tr *ngFor="let servico of estoque?.servicos">
                <td class="id-cliente">{{servico.id}}</td>
                <td>{{servico.nome}}</td>
                <td>{{servico.disponivel ? 'Ativo' : 'Falta'}}</td>
            </tr>
        </tbody>
    </table>
  </div>
</div>

