<div id="bem-vindo">
  <h1 id="bvc">Bem vindo(a) {{cliente}}</h1>
</div>

<div id="menu-inicio">
  <div id="container" class="container text-center">
      <div class="row">

          <div  id="col-azul" class="col">
            <h2 id="clientes-h2">12</h2>
            <h4 id="clientes-h4">CLIENTES</h4>
            <div id="clientes-a">
                <a href=""><h1 class="h1-row"> > </h1> </a>
            </div>
          </div>

          <div id="col-amarelo" class="col">
            <h3 id="vendashoje-h2">R$ 150,00</h3>
            <h4 id="vendashoje-h4">VENDAS HOJE</h4>
            <div id="vendashoje-a">
                <a href=""><h1 class="h1-row"> > </h1> </a>
            </div>
          </div>

          <div id="col-verde" class="col">
            <h3 id="vendastotais-h2">R$ 1.000,00</h3>
            <h4 id="vendastotais-h4">VENDAS (PERIODO)</h4>
            <div id="vendastotais-a">
                <a href=""><h1 class="h1-row"> > </h1> </a>
            </div>
          </div>

          <div id="col-vermelho" class="col">
            <h3 id="apagar-h2">R$ 500,00</h3>
            <h4 id="apagar-h4">A PAGAR (PERIODO)</h4>
            <div  id="apagar-a">
                <a href=""><h1 class="h1-row"> > </h1> </a>
            </div>
          </div>
      </div>
  </div>
</div>
