<button type="button" class="btn btn-primary" routerLink="/clientes/cadastro/venda">Adcionar Cliente</button>

<h2>Selecione o cliente desejado: </h2>
<div class="mb-3 clients-list">
  <table
    class="table table-striped table-sm"
  >
    <thead>
      <tr>
        <th scope="col" style="width: 30px"></th>
        <th scope="col">Nome do Cliente</th>
        <th scope="col">CPF</th>
        <th scope="col">Contato</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let cliente of clientes">
        <td>
          <div class="input-div">
            <input
              class="form-check-input"
              type="radio"
              name="cliente"
              (change)="handleClients(cliente)"
            />
          </div>
        </td>
        <td> {{ cliente.nome }} </td>
        <td> {{ cliente.cpf }} </td>
        <td> {{ cliente.contato }} </td>
      </tr>
    </tbody>
  <button type="button" class="btn btn-info" routerLink="/venda/finalizar/{{cliente?.id}}">Finalizar Venda</button>
  </table>
</div>




