.d-flex{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;

}

#input-buscar-clientes {
  width: 700px;
  margin-top: 1%;
  margin-bottom: 2%;
}

#botao-buscar-clientes {
  width: 100px;
  height: 35px;
  margin-bottom: 1%;
  text-align: center;
}

#tabela-clientes tbody{

  text-align: center;

}

#tabela-clientes thead tr {
  background-color: rgb(0, 80, 24);
  color: white;
  text-align: center;

}

#tabela-clientes .id-cliente {
  padding-left: 20px;
}


#form-clientes {
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 80px;
  margin-left: 30px;
  margin-right: 30px;
  color: rgb(0, 80, 24);
}

.col-md-4 {
  margin-bottom: 10px;

}

#botao-cadastrar-cliente {
  width: 120px;
  margin-top: 20px;
  background-color: rgb(0, 80, 24);
}
.add-button{

  color:bisque;
}

.delete{
  color: red;
}

.fields{
  margin-right: 100px;
}

