<div class="corpo">
  <div>
    <form class="d-flex" role="search">
        <input id="input-buscar-clientes" class="form-control me-2" type="search" placeholder="Digite o nome do cliente"
            aria-label="Search">
        <button id="botao-buscar-clientes" class="btn btn-outline-success" type="submit">Pesquisar</button>
    </form>
  </div>

  <div id="tabela-clientes">
    <table class="table">
        <thead>
            <tr>
                <th class="id-cliente">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Valor</th>
                <th scope="col">
                  <a class="add-button" routerLink="/servicos/cadastro">
                    <mat-icon>add</mat-icon>
                  </a>
                </th>
            </tr>
        </thead>
        <tbody class="fields">
            <tr *ngFor="let servico of servicos">
                <td class="id-cliente">{{servico.id}}</td>
                <td>{{servico.nome}}</td>
                <td>{{servico.valor}}</td>
                <td>
                    <div>
                        <a class="edit">
                          <mat-icon routerLink="/servicos/editar/{{servico.id}}">edit</mat-icon>
                        </a>
                        <a class="delete">
                          <mat-icon (click)="openModalComponent(servico.id)" color="">delete</mat-icon>
                        </a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
  </div>
</div>

