main {
  text-align: center;
  width: 100%;
  height: 920px;
  background: rgb(250, 250, 250);
}

.navegacao {
  position: relative;
  height: 920px;
  width: 70px;
  background: rgb(42, 247, 103);
  box-shadow: 10px 0 0 rgb(0, 80, 24);
  overflow-x: hidden;
  transition: 0.5s;
  color: rgb(42, 247, 103);
}

.navegacao:hover {
  width: 250px;
  color: black;
}

.navegacao #gestao {
  margin-top: 15px;
  text-align: center;


}

.navegacao ul {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  padding-left: 5px;
  padding-top: 0px;
  border-left: 10px solid rgb(42, 247, 103);
}

.navegacao ul li {
  position: relative;
  list-style: none;
  width: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;

}

.navegacao ul li a {
  position: relative;
  display: flex;
  width: 100%;
  text-decoration: none;
  color: black;
}

.navegacao ul li a .icone {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  text-align: center;
  line-height: 70px;
}

.navegacao ul li a .icone img {
  position: relative;
  font-size: 1.5s;
  z-index: 1;
}

.navegacao ul li a .menu {
  position: relative;
  display: block;
  padding-left: 10px;
  height: 60px;
  line-height: 60px;
  white-space: nowrap;
}

.navegacao ul li.active {
  background: rgb(0, 80, 24);
}

/* .navegacao ul li.active a::before {
  content: '';
  position: absolute;
  top: -30px;
  right: 0;
  width: 20px;
  height: 20px;
  background: rgb(42, 247, 103);
  border-radius: 0%;
  box-shadow: 10px 40px 0 rgb(0, 80, 24);
} */

/* .navegacao ul li.active a::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 10;
  width: 30px;
  height: 30px;
  background: rgb(0, 80, 24);
  border-radius: 50%;
  box-shadow: 10px 40px 0 rgb(42, 247, 103);
} */

#titulo h1{
  margin-top: 20px;
  margin-bottom: 10px;

}

#menu-inicio .row {
  padding: 2% 0;
  background-color: rgb(0, 80, 24);
  color: white;
  display: flex;
  justify-content: center;
}

#menu-inicio .row .col{
  margin: 0 20px;
  margin-top: 20px;
}
.page{
  width: 100%;
  background-color: rgb(0, 80, 24);
  color: white;
}
