.d-flex{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;

}

#input-buscar-clientes {
  width: 700px;
  margin-top: 1%;
  margin-bottom: 2%;
}

#tabela-clientes tbody{

  text-align: center;

}

#tabela-clientes thead tr {

  text-align: center;

}

#tabela-clientes .id-cliente {
  padding-left: 20px;
}

.col-md-4 {
  margin-bottom: 10px;

}

.add-button{

  color:black;
}

.delete{
  color: red;
}

.fields{
  margin-right: 100px;
}

h2{
  text-align: center;
  margin: 2%;
}
