<div class="margin">
  <div class="row">
    <div class="col-12">
      <h2 class="pb-2 border-bottom">Vendas</h2>
    </div>
  </div>
  <form [formGroup]="venda" (ngSubmit)="onSubmit()">
    <div class="row g-2">
      <div class="col">
        <label class="form-label">Serviços</label>
        <div class="mb-3 clients-list">
          <table
            *ngIf="servicos?.length"
            class="table table-striped table-sm"
          >
            <thead>
              <tr>
                <th scope="col" style="width: 30px"></th>
                <th scope="col">Nome do Serviço</th>
                <th scope="col">Disponibilidade</th>
                <th scope="col">Custo</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let servico of servicos">
                <td>
                  <div class="input-div">
                    <input
                      [disabled]="!servico.disponivel"
                      class="form-check-input"
                      type="radio"
                      name="servico"
                      (change)="handleServices(servico)"
                    />
                  </div>
                </td>
                <td>{{ servico.nome }}</td>
                <td>{{ servico.disponivel ? 'Ativo' : 'Falta' }}</td>
                <td>R$ {{ servico.valor }},00</td>
              </tr>
            </tbody>
          </table>
          <button (click)="setList('servico')" >TESTE</button>
        </div>
      </div>
      <div class="col">
        <label class="form-label">Produtos</label>
        <div class="mb-3 clients-list">
          <table
            *ngIf="produtos?.length"
            class="table table-striped table-sm"
          >
            <thead>
              <tr>
                <th scope="col" style="width: 30px"></th>
                <th scope="col">Nome do Produto</th>
                <th scope="col">Quantidade</th>
                <th scope="col">Custo Unidade</th>
              </tr>
            </thead>
            <tbody>

              <tr *ngFor="let produto of produtos">
                <td>
                  <div class="input-div">
                    <input
                      [disabled]="produto.quantidade === 0"
                      class="form-check-input"
                      type="radio"
                      name="produto"
                      (change)="handleProducts(produto)"
                    />
                  </div>
                </td>
                <td>{{ produto.nome }}</td>
                <td>{{ produto.quantidade }}</td>
                <td> R$ {{ produto.valorFinal }},00</td>
              </tr>
            </tbody>
          </table>
          <button (click)="setList('produto')" >TESTE</button>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <label class="form-label">Produtos</label>
        <div class="mb-3 clients-list">
          <table
            *ngIf="produtos?.length"
            class="table table-striped table-sm"
          >
            <thead>
              <tr>
                <th scope="col" style="width: 30px"></th>
                <th scope="col">Nome do Cliente</th>
                <th scope="col">CPF</th>
                <th scope="col">Contato</th>
              </tr>
            </thead>
            <tbody>

              <tr *ngFor="let cliente of clientes">
                <td>
                  <div class="input-div">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="cliente"
                      (change)="handleClients(cliente)"
                    />
                  </div>
                </td>
                <td> {{ cliente.nome }} </td>
                <td> {{ cliente.cpf }} </td>
                <td> {{cliente.contato}} </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col">

        <button (click)="calculo()">Testao</button>
        <!-- <label for="textInput" class="form-label">Valor</label>
        <input
          type="text"
          class="form-control"
          id="textInput"
          placeholder="Digite o valor"

        /> -->
        <!-- <div *ngFor="let a of teste">{{a.nome}}</div> -->
      </div>
    </div>
  </form>

</div>
