<div id="login">
  <div class="container">
    <div class="forms">
        <div class="form login">
            <span class="title">Cadastrar</span>

            <form [formGroup]="form" (ngSubmit)="onCadastro()">
                <div class="input-field">
                    <input type="text" placeholder="Nome de usuário" formControlName="username">
                </div>

                <div class="input-field">
                    <input type="password" class="password" placeholder="Digite a sua senha" formControlName="password">
                </div>

                <div class="input-field">
                  <input type="password" class="password" placeholder="Confirme a sua senha" formControlName="confirmarSenha">
              </div>

                <div class="input-field button">
                    <input type="submit" value="Cadastrar">
                </div>
            </form>

            <div class="login-signup">
              <span class="text">Já é um membro?
                  <a (click)="onLogin()" class="text login-link">Conecte-se agora</a>
              </span>
            </div>
        </div>
    </div>
  </div>
</div>
