<div class="corpo">
  <div>
    <form class="d-flex" role="search">
        <input id="input-buscar-clientes" class="form-control me-2" type="search" placeholder="Digite o nome do funcionário"
            aria-label="Search">
        <button id="botao-buscar-clientes" class="btn btn-outline-success" type="submit">Pesquisar</button>
    </form>
  </div>

  <div id="tabela-clientes">
    <table class="table">
        <thead>
            <tr>
                <th class="id-cliente">#</th>
                <th scope="col">Nome</th>
                <th scope="col">CPF</th>
                <th scope="col">Contato</th>
                <th scope="col">Email</th>
                <th scope="col">Endereço</th>
                <th scope="col">Salário</th>
                <th scope="col">
                  <a class="add-button" routerLink="/funcionarios/cadastro">
                    <mat-icon>add</mat-icon>
                  </a>
                </th>
            </tr>
        </thead>
        <tbody class="fields">
            <tr *ngFor="let funcionario of funcionarios">
                <td class="id-cliente">{{funcionario.id}}</td>
                <td>{{funcionario.nome}}</td>
                <td>{{funcionario.cpf}}</td>
                <td>{{funcionario.contato}}</td>
                <td>{{funcionario.email}}</td>
                <td>{{funcionario.endereco}}</td>
                <td>{{funcionario.salario}}</td>
                <td>
                    <div>
                        <a class="edit">
                          <mat-icon routerLink="/funcionarios/editar/{{funcionario.id}}">edit</mat-icon>
                        </a>
                        <a class="delete">
                          <mat-icon (click)="openModalComponent(funcionario.id)" color="">delete</mat-icon>
                        </a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
  </div>
</div>

<!-- <pagination-controls
      (pageChange)="p = $event"
      previousLabel="Anterior"
      nextLabel="Próximo"
      *ngIf="clientes.length > 0"
    ></pagination-controls> -->
